.container {
  padding: 40px;
}

.container h1 {
  color: #38bdf8;
  margin-bottom: 30px;
}

.item {
  background: #1e293b;

  padding: 20px;

  border-radius: 12px;

  margin-bottom: 15px;
}

.item button {
  margin-top: 10px;

  background: crimson;

  border: none;

  color: white;

  padding: 10px;

  border-radius: 8px;

  cursor: pointer;
}

.removeMessage {

  margin-bottom: 20px;

  color: #ef4444;

  font-weight: bold;

  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {

  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.item {

  display: flex;

  align-items: center;

  gap: 20px;

  background: #1e293b;

  padding: 20px;

  border-radius: 15px;

  margin-bottom: 15px;
}

.image {

  width: 120px;

  height: 120px;

  object-fit: cover;

  border-radius: 12px;

  border: 2px solid #38bdf8;
}

.info {

  display: flex;

  flex-direction: column;

  gap: 10px;
}

.info h3 {

  color: white;

  margin: 0;
}

.info p {

  color: #38bdf8;

  font-size: 1.1rem;

  font-weight: bold;
}

.info button {

  width: fit-content;

  background: #ef4444;

  color: white;

  border: none;

  padding: 10px 15px;

  border-radius: 8px;

  cursor: pointer;

  transition: 0.3s;
}

.info button:hover {

  opacity: 0.8;
}