.container {
  padding: 40px;
}

.container h1 {
  color: #38bdf8;
  margin-bottom: 30px;
}

.item {
  background: #1e293b;

  padding: 20px;

  border-radius: 12px;

  margin-bottom: 15px;
}

.item button {
  margin-top: 10px;

  background: crimson;

  border: none;

  color: white;

  padding: 10px;

  border-radius: 8px;

  cursor: pointer;
}